body{
    font-family: Montserrat, serif;
    /* min-width: 600px; */
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}
#section-1{
    background: url("../Images/Contributors.png") no-repeat center;
    background-size: cover;
    animation-name: increaseBrightness;
    animation-duration: 3s;
    animation-direction: normal;
    filter: brightness(0.8);
}
.title-text{
    padding-top: 40vh;
    color: white;
    font-weight: 300;
    font-family: "Montserrat", serif;
    font-size: 100px;
    animation-delay: 2s;
}
#background-img{
    background: url("../Images/Stars-Background.jpeg");
    min-height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section-2{
    color: white;
    /* color: #052570; */
    height: auto;
    padding-bottom: 20px;
    /* overflow: auto; */
}
.contributors-title{
    margin-bottom: 50px;
}
#mission-container{
    padding-top: 5%;
}
#mission-line{
    width: 200px;
    border-color: #052570;
    border-width: 3px;
}
#mission-title{
    font-weight: 800;
}
#mission-text-container{
    margin-top: 100px;
    font-size: 25px;
}
.launch-1-img{
    width: 200px !important;
    min-height: 500px;
}
.carousel-inner{
    width: 100%;
    max-height: 200px !important;
}
@keyframes increaseBrightness {
    0%{
        filter: brightness(0.1);
    }
    100%{
        filter: brightness(0.8);
    }

}

