body{
    font-family: Montserrat, serif;
}
#section-1{
    background: url("../Images/Earth-Image.png") no-repeat center;
    background-size: cover;
    animation-name: increaseBrightness;
    animation-duration: 3s;
    animation-direction: normal;
    filter: brightness(0.8);
}
.title-text{
    padding-top: 20vh;
    color: white;
    font-weight: 300;
    font-family: "Montserrat", serif;
    font-size: 100px;
    animation-delay: 2s;
}
#section-2{
    background-color: #e3eaea;
    color: #052570;
}
#mission-container{
    padding-top: 15%;
}
#mission-line{
    width: 200px;
    border-color: #052570;
    border-width: 3px;
}
#mission-title{
    font-weight: 800;
}
#mission-text-container{
    margin-top: 100px;
    font-size: 25px;
}
@keyframes increaseBrightness {
    0%{
        filter: brightness(0.1);
    }
    100%{
        filter: brightness(0.8);
    }
}

